<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

    <title>Get A Pet - Add New Advertisement</title>

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="/css/fontawesome.css">
    <link rel="stylesheet" href="/css/tooplate-main.css">
    <link rel="stylesheet" href="/css/owl.css">
    <!--
    Tooplate 2114 Pixie
    https://www.tooplate.com/view/2114-pixie
    -->
</head>

<body>

<div class="container" style="position: relative; top: 170px; margin-bottom: 50px">
    <div class="row">
        <div class="col-sm-6">
            <form th:method="POST" th:action="@{'/ads/edit/' + ${ad.getId()}}">
                <div class="form-group">
                    <label for="title">Advertisement title</label>
                    <input type="text"
                           class="form-control"
                           required
                           id="title"
                           name="title"
                           th:value="(${ad} != null ? ${ad.getTitle()} : '')"
                           placeholder="Enter title">
                </div>
                <div class="form-group">
                    <label for="adType">Ad Type</label>
                    <select name="adType" class="form-control" id="adType">
                        <option th:each="type : ${T(com.group18.getapet.model.enumerations.AdType).values()}"
                                th:value="${type}"
                                th:text="${type}"
                                th:selected="(${ad.getAdType()} == ${type} ? true : false)">
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="petID">Pet</label>
                    <select name="petID" class="form-control" id="petID">
                        <option th:each="pet : ${pets}"
                                th:value="${pet.getId()}" th:text="|(${pet.getId()}) ${pet.getName()}|"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="location">Location</label>
                    <input type="text"
                           class="form-control"
                           id="location"
                           name="location"
                           th:value="(${ad} != null ? ${ad.getLocation()} : '')"
                           placeholder="Location">
                </div>
                <div class="form-group">
                    <label for="description">Description of the advertisement</label>
                    <input type="text"
                           maxlength="255"
                           class="form-control"
                           id="description"
                           name="description"
                           th:value="(${ad} != null ? ${ad.getDescription()} : '')"
                           placeholder="Description">
                </div>
                <input type="submit" value="Save" class="btn btn-info"/>
                <a th:href="${'/ads'}"><input type="button" value="Cancel" class="btn btn-info"/></a>
            </form>
        </div>
    </div>
</div>
<br>
<br>

<!-- Bootstrap core JavaScript -->
<script src="/jquery/jquery.min.js"></script>
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>


<!-- Additional Scripts -->
<script src="/js/custom.js"></script>
<script src="/js/owl.js"></script>


<script language="text/Javascript">
    cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
    function clearField(t) {                   //declaring the array outside of the
        if (!cleared[t.id]) {                      // function makes it static and global
            cleared[t.id] = 1;  // you could use true and false, but that's more typing
            t.value = '';         // with more chance of typos
            t.style.color = '#fff';
        }
    }
</script>


</body>

</html>
